body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

nav{
    position: relative;
    height: 3.5rem;
    width: 100%;
}

.menu {
    background-color: #fff;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 100;
    height: 3.5rem;
    width: 100%;
    border-bottom: 2px solid #d8d8d8;
    border-top: 2px solid #d8d8d8;;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
}
.logo-menu{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    /* background-color: #000; */
    border: 2px solid #d8d8d8;
    background-color: #000;
    display: block;
    position: absolute;
    left: 2rem;
    top: 0.2rem;
}
.logo-menu img{
    width: 90%;
    object-fit: fill;
    display: block;
    margin: auto;
}

.item-menu {
    color: #c0c0c0;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.item-menu:hover{
    color: #000;
    text-decoration:underline;
    
}
.item-menu:hover div{
    fill: #000;
    border-color: #000;
}
.item-menu div{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    fill: #c0c0c0;
}
.imagen{
    display: flex;
    width: 100%;
    height: 43.38rem;
}
.imagen img{
    object-fit: fill;
    width: 100%;
}
#productos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    gap: 4rem;
    background-color: #f3f2f2;
    padding: 2rem 0;
}

.prod-item{
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 3.3%;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    margin: 0 auto;
}
.prod-item h3{
    margin: 0;
    position: absolute;
    top: -3rem;
    left: 1rem;
}
.card{
    width: 20%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    border: 2px solid #d8d8d8;
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: #fff;
}
.card img{
    width: 100%;
    height: 68%;
    object-fit: fill;

}
.card-desc{
    height: 32%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.card-desc h4, .card-desc p{
    margin: 0;
}
#contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
}
.container-contacto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.item-conct{
    width: 40%;
    height: 25.2rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #f3f2f2;
}
.separador{
    height: 25.2rem;
    width: 0.12rem;
    background-color: #d8d8d8;
}

.item-conct img{
    height: 15rem;
    width: 85%;
    object-fit: contain;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    
}
.info h4{
    margin-top: 3rem;
}
.info a{
    display: block;
    color: #5a5a5a;
}
.info a:hover{
    color: #000;
    scale: 1.08;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    gap: 1rem;
}
.footer-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;

}
.logo-footer{
    height: 5rem;
}
.logo-footer img{
    object-fit: fill;
    height: 100%;
}
.footer-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    text-align: center;
    padding-left: 0;
}
.footer-item h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.footer-item a{
    text-decoration: none;
    color: #989696;
    text-align: center;
    display: block;
}
.footer-item a:hover{
    color: #fff;
    scale: 1.08;
}
.footer-end{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #fff;
    color: #989696;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}
.icons-footer{
    display: flex;
    gap: 0.8rem;
}
.icons-footer a svg:hover{
    fill: #fff;
    scale: 1.1;
}